<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>GATF</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8c71d5">  <td>15/11/20 19:40:09</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CM_004_TC002_SPE_CAMPAIGN_ADD_CAMPAIGN.init()[pri:0, instance:Frontstream.scripts.CM_004_TC002_SPE_CAMPAIGN_ADD_CAMPAIGN@78d64e42]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@617179674</td>   <td>2027310658 </td> </tr>
<tr bgcolor="6cca78">  <td>15/11/20 19:40:09</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestEngineWeb.beforeTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Frontstream.scripts.CM_004_TC002_SPE_CAMPAIGN_ADD_CAMPAIGN@78d64e42]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@617179674</td>   <td>2027310658 </td> </tr>
<tr bgcolor="6cca78">  <td>15/11/20 19:40:19</td>   <td>10057</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestEngineWeb.beforeMethod(java.lang.reflect.Method)[pri:0, instance:Frontstream.scripts.CM_004_TC002_SPE_CAMPAIGN_ADD_CAMPAIGN@78d64e42]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@617179674</td>   <td>2027310658 </td> </tr>
<tr bgcolor="8c71d5">  <td>15/11/20 19:40:19</td>   <td>10077</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CM_004_TC002_SPE_CAMPAIGN_ADD_CAMPAIGN.CM_004_TC002_CAMPAIGN_Add_Campaign()[pri:0, instance:Frontstream.scripts.CM_004_TC002_SPE_CAMPAIGN_ADD_CAMPAIGN@78d64e42]">CM_004_TC002_CAMPAIGN_Add_Campaign</td> 
  <td>TestNG@617179674</td>   <td>2027310658 </td> </tr>
<tr bgcolor="6cca78">  <td>15/11/20 19:40:20</td>   <td>10208</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestEngineWeb.afterMethod()[pri:0, instance:Frontstream.scripts.CM_004_TC002_SPE_CAMPAIGN_ADD_CAMPAIGN@78d64e42]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@617179674</td>   <td>2027310658 </td> </tr>
<tr bgcolor="6cca78">  <td>15/11/20 19:40:20</td>   <td>10258</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestEngineWeb.afterTest()[pri:0, instance:Frontstream.scripts.CM_004_TC002_SPE_CAMPAIGN_ADD_CAMPAIGN@78d64e42]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@617179674</td>   <td>2027310658 </td> </tr>
</table>
